---
title: Standards
---
<div class="page-header">
    <%= partial "header" %>
</div>

<article>
    <section class="introduction">
        <h2>Introduction</h2>
        <div>
            <%= partial "introduction" %>
        </div>
    </section>
    <% data.guiding_principles.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <% data.regulatory_scope.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <% data.transparency.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <% data.integrity.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <% data.participation_access.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <% data.oversight.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <% data.framework.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
</article>
