---
title: Standards
attribution: '&copy; Cover photo: Transparency International Lithuania'
---
<div class="page-header">
    <%= partial "header" %>
</div>

<div class="contents">
    <ul>
        <li><a href="<%= @baseurl %>/standards/introduction">Introduction</a></li>
        <li><a href="<%= @baseurl %>/standards/guiding-principles">Guiding Principles</a></li>
        <li><a href="<%= @baseurl %>/standards/regulatory-scope">Regulatory Scope</a></li>
        <li><a href="<%= @baseurl %>/standards/transparency">Transparency</a></li>
        <li><a href="<%= @baseurl %>/standards/integrity">Integrity</a></li>
        <li><a href="<%= @baseurl %>/standards/participation-access">Participation and Access</a></li>
        <li><a href="<%= @baseurl %>/standards/oversight-management-sanctions">Oversight, Management and Sanctions</a></li>
        <li><a href="<%= @baseurl %>/standards/regulatory-framework">Regulatory Framework Design</a></li>
    </ul>
</div>
