---
title: Standards
---
<div class="page-header">
    <%= partial "header" %>
</div>

<article>
    <section class="introduction">
        <h2>Introduction</h2>
        <div>
            <%= partial "introduction" %>
        </div>
    </section>
    <% data.standards.content.each do |s| %>
    <section>
        <% if s.heading %> 
            <h2 class="standard-heading" id="<%= s.heading.downcase.gsub!(' ','-') %>"><%= s.heading %></h2>
        <% end %>
        <%= markdownify s.overview %>
        <% if s.notes %>
            <div class="guiding-notes">
                <h4 class="notes-heading">Guiding Notes</h4>
                <div>
                    <%= markdownify s.notes %>
                </div>
            </div>
        <% end %>
        <% if s.aside %>
        <aside>
            <%= markdownify s.aside %>
        </aside>
        <% end %>
    </section>
    <% end %>
    
</article>
